<h3>Spending Type</h3>

<a href='/spending_types/new'>Add new spending tag</a>

<div id="spending_type-wrapper">
  <% @spending_types.each do |spending_type| %>

  <div class="spending_type">
    <h3><a href="spending_types/<%= spending_type.id %>"><%=
      spending_type.tag %></a></h3>

    <p>spending: <%= spending_type.tag %></p>
  </div>

</div>

  <% end %>
