<h3>Spending Type</h3>


<div id="spending_type-wrapper">
  <% @spending_types.each do |spending_type| %>

  <div class="spending_type">
    <h3><a href="spending_types/<%= spending_type.id %>"><%=
      spending_type.tag %></a></h3>

    <p>spending tags: <%= spending_type.tag %></p>
  </div>

</div>

<div class="button_element">
<form action='/spending_types/<%= spending_type.id %>/delete' method='POST' >
    <input type = "submit" value='DELETE'>
  </form>
  </div>

<h4> <a href="/spending_types/new"> <i class="material-icons"></i>Create a custom tag</a> </h4>

  <% end %>
