<nav class="spending-nav">
  <ul>
    <li><h3>Spending Type</h3></li>
    <li><h3><a href='/spending_types/new'>Add New Spending Tag</a>
    </h3></li>
  </ul>
</nav>


<div id="spending_type-wrapper">


  <table class="spending-table">
    <tr>
      <th>Spending Type</th>
      <th></th>
    </tr>

    <% @spending_types.each do |spending_type| %>

    <tr>
      <td><div class="spending_type">
        <h3><a<%= spending_type.id %>"><%=
          spending_type.tag %></a></h3>
      </td>
      <td><a href="spending_types/<%= spending_type.id %>">Show details</a></td>
    </tr>

  <% end %>

  </table>

<br>
<br>
<br>
<br>
<br>
