<h3>Add new spending type</h3>
  <form method="POST" action="/spending_types">
    <div class="form-wrapper">


      <div class="form-el">
        <label for="tag">Tag:</label>
        <input type="text" name="tag" id="tag"/>
      </div>


    <div class="form-el">
        <input type="submit" value="Sumbit new spenging tag"/>
        </div>

    </div>

  </form>
