<h3><%= @spending_type.tag %></h3>

<table>
<a href="/spending_types/<%= @spending_type.id %>/edit">Edit </a>


<div class="button_element">
<form action='/spending_types/<%= @spending_type.id %>/delete' method='POST' >
    <input type = "submit" value='DELETE'>
  </form>
  </div>
  
</table>
