body {
  font-family: 'Oxygen', sans-serif;
  background: url('https://images.unsplash.com/photo-1534951009808-766178b47a4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
}

h1 {
  padding-top: 0px;
  margin-top: 0px;
}

table {
  width: 90%;
  margin-left: 30px;
  background-color: white;
}

th {
    width: 22.5%;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: lightblue;
}

td {
    width: 22.5%;
    text-align: left;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.FirstColumn{
  width: 50%;
  text-align: right;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}
