
	<h3>Merchants A-Z</h3>


  <div id="merchant-wrapper">
    <% @merchants.each do |merchant| %>

    <div class="merchant">
      <h3><a href="merchants/<%= merchant.id %>"><%=
        merchant.name %></a></h3>

      <p>merchant: <%= merchant.name %></p>
    </div>

    <% end %>
  </div>
