
	<h3>Merchants All</h3>

<a href='/merchants/new'>Add new merchant</a>

  <div id="merchant-wrapper">
    <% @merchants.each do |merchant| %>

    <div class="merchant">
      <h3><a href="merchants/<%= merchant.id %>"><%=
        merchant.name %></a></h3>

      <p>merchant: <%= merchant.name %></p>
    </div>

  </div>


  <% end %>
